<div class="dropdown">
    <h3 class="dropdown__title">Personajes <span class="material-icons arrow">expand_more</span></h3>
    <ul class="dropdown__list">
        <li class="gryffindor"><a class="dropdown__list--house" routerLink="/personajes/gryffindor">Gryffindor</a></li>
        <li class="hufflepuff"><a class="dropdown__list--house" routerLink="/personajes/hufflepuff">Hufflepuff</a></li>
        <li class="slytherin"><a class="dropdown__list--house" routerLink="/personajes/slytherin">Slytherin</a></li>
        <li class="ravenclaw"><a class="dropdown__list--house" routerLink="/personajes/ravenclaw">Ravenclaw</a></li>
    </ul>
</div>